@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,900;1,700&family=Source+Code+Pro:wght@600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,900;1,700&family=Source+Serif+Pro:wght@600&display=swap');

:root {
  --indigo: #05234C;
  --light-green: #40C69F;
  --dark-green: #2E765E;
  --pink: #D62B83;
  --white: #fdfdfd;

  --white-85:rgb(253, 253, 253,.85);
}

body {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
}

nav {
  font-family: 'Source Code Pro', monospace;
}


strong {
  text-shadow: 3px 3px 0px var(--light-green);
  text-decoration: 4px underline wavy var(--pink);
  text-underline-offset: 12px;
}

.underline-offset {
  text-underline-offset: 8px;
}

.card {
  box-shadow: -8px 8px 0px var(--light-green);
}

/* SHOW MOBILE MENU */
.show {
  display: block;
}

.fa-times, .fa-bars {
  color: var(--white) !important;
}

#mobileMenu {
  font-family: 'Source Code Pro', monospace;
}


a:hover, a:focus, button:hover, button:focus, svg:hover, svg:focus {
  filter: brightness(115%);
  transform: scale(1.015);
  outline: 0px transparent;
}

footer {
  background: var(--pink);
  color: var(--white);
}

footer small, footer a {
  opacity: .9;
}

footer small a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}

#services, #certs, #works, #contact {
  padding-top: 5rem;
  padding-bottom:15rem;
}

.pointer-events-none {
  margin-top: -15rem;
}

.progress {
  width: 470px;
}

@media screen and (max-width: 768px) {
  .progress {
    width: 270px;
  }
}
.progress span{
  background: repeating-linear-gradient(45deg,
  var(--indigo),
  var(--indigo) 8px,
  var(--pink) 8px,
  var(--pink) 16px);
}